
<link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

@using Sistema.Dominio.Entities
@model List<Pessoa>
@{
    ViewBag.Title = "Buscar Pessoa";
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {

        $("#tbpessoa tbody tr").click(function () {
            var Pessoa = {};
            var a, n, m;
            a = Pessoa.Id = $(this).children().eq('0').text();
            n = Pessoa.Nome = $(this).children().eq('1').text();
            m = Pessoa.Identificacao = $(this).children().eq('2').text();
            console.info(a, n, m);
            window.opener.ObterPessoa(Pessoa);
            window.close();
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">Buscar Pessoas no Sistema</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Cliente por:</h2>
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-group col-md-3">
                            @Html.Label("Nome", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtnome", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <input type="submit" value="Buscar" class="btn btn-primary"/>
                    </div>
                </fieldset>
            </div>

        }
    </div>
</div>

<table class="table table-striped table-success" id="tbpessoa">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>E-mail</th>
            <th>Telefone</th>
        </th>
    </thead>
    <tbody style="cursor:pointer">
        @foreach (var pessoa in Model)
        {
        <tr>
            <td style="display:none;">@pessoa.IdPessoa</td>
            <td>@pessoa.NomePessoa</td>
            <td>@pessoa.IdentificacaoPessoa</td>
            <td>@pessoa.TelefonePessoa</td>
            <td>@pessoa.EmailPessoa</td>

        </tr>
        }
    </tbody>
</table>
<script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/jquery/jquery.min.js"></script>