@model Sistema.Dominio.Entities.ModoPagamento


<script type="text/javascript">
    $(document).ready(function () {

        var opcao = $("#selecionarCondicao").val();

        if (opcao == "True") {
            $("#condicao").val("True");
        }
        else {
            $("#condicao").val("False");
        }

        $("#btnSalvar").click(function () {
            debugger
            var envio = "{IdPagamento:'" + $("#idPagamento").val() + "',DescricaoPagamento:'" + $("#descricao").val().toUpperCase() + "',ATIVO:'" + $("#condicao").val() +"'}";
            var json = eval("(" + envio + ')');

            $.ajax({
                url: "Edit",
                data: JSON.stringify(json),
                type: "POST",
                //async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        alertify.alert("Modo de pagamento editado com sucesso!", function (e) {
                            if (e) {
                               window.location.href = "@Url.Action("Index", "ModoPagamento")";
                            }
                        });
                    } else {
                        alertify.error("Ocorreu um erro");
                    }
                },
                error: function (error) {
                    var data = JSON.parse(error.responseText);
                    var i = 0;
                    while (data[i] != null) {
                        alertify.error(data[i]['errors']);
                        i++;
                    }
                }
            });

        });
    });
</script>




<h2>Editar - @Model.DescricaoPagamento</h2>


<input type="text" style="display:none" id="idPagamento" value="@Html.DisplayFor(x=>x.IdPagamento)" />

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Descrição</label>
        <div class="col-md-10">
            <input type="text" class="Upper form-control" id="descricao" value="@Html.DisplayFor(x=>x.DescricaoPagamento)" />
        </div>
    </div>

    <br />
    <input style="display:none" value="@Model.ATIVO.ToString()" id="selecionarCondicao" />
    <div class="form-group">
        <select class="form-select form-control" id="condicao">
            <option value="True">ATIVO</option>
            <option value="False">INATIVO</option>
        </select>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-success" type="submit" id="btnSalvar" value="Salvar" />
            <a href="~/ModoPagamento/Index" type="button" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</div>


